# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignorar entornos virtuales
venv/
.env/
.venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos temporales
.DS_Store
